body {
	background-color: #EFEFEF;
}
button {
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #4C8C8E;
	color: white;
}


img {
	width: auto;
	height: auto;
}

label {
	font-weight: bold;
}

#topics-form {
	position: relative;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	width: 20%;
}

#addTopics {
	margin-top: 10px;
	color: white;
	background-color: #4C8C8E;
	border-radius: 5px;
}


/* Div tag that holds the image*/
#topics{
	position: relative;
	float: left;
	width: 78%;
	margin-top: 15px;
}

/* attribute class added to gifDiv */
.items{
	position: relative;
	float: left;
	margin-left: 10px;
	font-weight: bold;
}